
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Areas/Management/Views/Shared/_BaseLayout.cshtml";
}

@section Styles{

    <link href="~/assets/Admin-Panel/assets/pages/css/profile-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap-rtl.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->

        <h3 class="page-title">
            اطلاعات کاربری
        </h3>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet ">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="~/assets/Admin-Panel/assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> Marcus Doe </div>
                            <div class="profile-usertitle-job"> Developer </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        @*<div class="profile-userbuttons">
                            <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                            <button type="button" class="btn btn-circle red btn-sm">Message</button>
                        </div>*@
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        @*<div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a href="page_user_profile_1.html">
                                        <i class="icon-home"></i> Overview
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="page_user_profile_1_account.html">
                                        <i class="icon-settings"></i> Account Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="page_user_profile_1_help.html">
                                        <i class="icon-info"></i> Help
                                    </a>
                                </li>
                            </ul>
                        </div>*@
                        <!-- END MENU -->
                    </div>
                    <!-- END PORTLET MAIN -->

                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line" style="float: right">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        @*<span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>*@
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab_1_1" data-toggle="tab">اطلاعات شخصی</a>
                                        </li>

                                        <li>
                                            <a href="#tab_1_3" data-toggle="tab">تغییر رمز عبور</a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <!-- PERSONAL INFO TAB -->
                                        <div class="tab-pane active" id="tab_1_1">
                                            <form role="form" action="#">
                                                <div class="form-group">
                                                    <label class="control-label">نام</label>
                                                    <input type="text" placeholder="John" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">نام خانوادگی</label>
                                                    <input type="text" placeholder="Doe" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">تلفن همراه</label>
                                                    <input type="text" placeholder="09123456789" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">تاریخ تولد</label>
                                                    <input type="text" placeholder="Design, Web etc." class="form-control" />
                                                </div>
                                                @*<div class="form-group">
                                                        <label class="control-label">Occupation</label>
                                                        <input type="text" placeholder="Web Developer" class="form-control" />
                                                    </div>*@
                                                <div class="form-group">
                                                    <label class="control-label">توضیحات</label>
                                                    <textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Website Url</label>
                                                    <input type="text" placeholder="http://www.mywebsite.com" class="form-control" />
                                                </div>
                                                <div class="margiv-top-10">
                                                    <a href="javascript:;" class="btn green"> به روز رسانی  </a>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END PERSONAL INFO TAB -->
                                        <!-- CHANGE AVATAR TAB -->
                                        <!-- END CHANGE AVATAR TAB -->
                                        <!-- CHANGE PASSWORD TAB -->
                                        <div class="tab-pane" id="tab_1_3">
                                            <form id="ResetPasswordForm" action="~/account/ChangePassword">
                                                <div class="form-group">
                                                    <label class="control-label">رمز عبور فعلی</label>
                                                    <input id="OldPassword" type="password" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">رمز عبور جدید</label>
                                                    <input id="NewPassword" type="password" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">تایید رمز عبور</label>
                                                    <input id="ConfirmNewPassword" type="password" class="form-control" />
                                                </div>
                                                <div class="margin-top-10">
                                                    <a id="EditUserPasswordBtn" class="btn green"> Change Password </a>
                                                    <a id="CancelUserPasswordBtn" class="btn default"> Cancel </a>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- END CHANGE PASSWORD TAB -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#EditUserPasswordBtn').click(function (e) {
                e.preventDefault();
                var data = {
                    "OldPassword": $("#OldPassword").val(),
                    "NewPassword": $("#NewPassword").val(),
                    "ConfirmNewPassword": $("#ConfirmNewPassword").val()
                };


                //var token = $('input[name="__RequestVerificationToken"]').val();
                //var headers = {};
                //headers['__RequestVerificationToken'] = token;


                $.ajax({
                    url: '/account/ChangePassword',
                    type: "POST",
                    data: JSON.stringify(data),
                    cache: false,
                    //headers: headers,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (response) {
                        setTimeout(function () {
                            if (response.Result) {

                                //alertify.success(response.Result);
                                console.log(response.result);
                            }
                            else {
                                //alertify.success(response.Result);
                                console.log(response.result);
                            }
                        }, 3000);
                    },
                    error: function (error) {
                        //alertify.success(error.Message);
                        console.log(error.Message);
                    }
                });


                //$("#userform").validate()
            });

            $('#CancelUserPasswordBtn').click(function () {
                document.getElementById("ResetPasswordForm").reset();
                return false;
            });
        });
    </script>
}
