@{
    ViewBag.Title = "تایید تغییر رمز عبور";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        ایمیل تغییر رمز عبور برای شما ارسال شده است، با استفاده از لینک ارسال شده می توانید نسبت به بازنشانی رمز عبور خود اقدام نمایید.
    </p>
</div>
	
