@{
    ViewBag.Title = "تایید تغییر رمز عبور";
}




<div style="margin: 50px 0;">
    @if (!string.IsNullOrWhiteSpace((string)ViewBag.userEmail))
    {
        <p class="title">
            <h1>@ViewBag.Title.</h1>
        </p>

        <p>
            @{
                var t = ViewBag.userName as string;
            }
            @t عزیز
        </p>
        <p>
            ایمیل تغییر رمز عبور برای @ViewBag.userEmail ارسال شده است، با استفاده از لینک ارسال شده می توانید نسبت به بازنشانی رمز عبور خود اقدام نمایید.
        </p>

    }
    else
    {
        <p class="title">
            <h1>@ViewBag.Title.</h1>
        </p>
        <p>
           متاسفانه عملیات ارسال ایمیل برای شما موفقیت آمیز نیوده است، لطفا دوباره تلاش کنید!
        </p>
    }




</div>

