@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        پسورد شما با موفقیت تغییر یافت.
       
    </p>
    <p>
        لطفا برای ورود از لینک زیر استفاده کنید
        @Html.ActionLink("ورود", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        
    </p>
</div>
