@{
    ViewBag.Title = "تایید تغییر رمز عبور";
}


<div style="margin: 50px 0;">
    <p>
        پسورد شما با موفقیت تغییر یافت.
       
    </p>
    <p>
        لطفا برای ورود از لینک زیر استفاده کنید
        @Html.ActionLink("ورود", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        
    </p>
</div>
